<div class="footer" id="footer" role="contentinfo">
  <div class="row">
    <div class="footer__about">
      <a href="http://okfn.fr" target="_blank" ><div style="background-image: url(https://madada.fr/assets/OK_LG_LOGO_FRANCE_RGB.png);background-size: 200px;/*! width: 100px; */height: 100px;background-repeat: no-repeat;margin-bottom: 1em"></div></a>
      <ul class="about__contact-links">
        <li>
          <%= link_to _('Contact us'), help_contact_path %>
        </li>
        <li><%= link_to_unless_current "Mention légales", help_credits_path %></li>
        <li>
          <%= link_to _('Privacy and cookies'), help_privacy_path %>
        </li>
        <!--<li>
          <%= link_to _('API'), help_api_path %>
        </li>-->
        <% if feature_enabled?(:pro_pricing) %>
        <li>
          <%= link_to _('{{pro_site_name}} Terms',
                        pro_site_name: AlaveteliConfiguration.pro_site_name),
                        pro_page_path(:id => 'legal') %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="footer__final">
    <div class="row">
      <div class="final__social-links">
        <ul>
          <% unless AlaveteliConfiguration::twitter_username.blank? %>
          <li>
            <a href="https://twitter.com/<%= AlaveteliConfiguration::twitter_username %>" class="social-link social-link--twitter" onclick="<%= track_analytics_event(AnalyticsEvent::Category::OUTBOUND, AnalyticsEvent::Action::TWITTER_EXIT, :label => "Footer link")%>">@<%= AlaveteliConfiguration::twitter_username %></a>
          </li>
          <% end %>
          <% unless AlaveteliConfiguration::facebook_username.blank? %>
          <li>
            <a href="https://facebook.com/<%= AlaveteliConfiguration::facebook_username %>" class="social-link social-link--facebook" onclick="<%= track_analytics_event(AnalyticsEvent::Category::OUTBOUND, AnalyticsEvent::Action::FACEBOOK_EXIT, :label => "Footer link")%>">/<%= AlaveteliConfiguration::facebook_username %></a>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
