<div id="after_actions" class="after-actions">
  <ul class="action-menu after-actions__action-menu">
    <li>
      <a href="#" class="action-menu__button">Actions</a>

      <ul class="action-menu__menu action-menu__menu">
        <li class="action-menu__menu__item">
          <ul class="action-menu__menu__submenu">
            <li>
              <% if last_response.nil? %>
                <%= link_to _("Send a followup"), new_request_followup_path(:request_id => info_request.id, :anchor => 'followup') %>
              <% else %>
                <%= link_to _("Write a reply"), new_request_incoming_followup_path(:request_id => info_request.id, :incoming_message_id => last_response.id, :anchor => 'followup') %>
              <% end %>
            </li>

            <li>
              <%= link_to _("Request an internal review"), new_request_followup_path(:request_id => info_request.id, :internal_review => '1', :anchor => 'followup') %>
            </li>

            <li>
              <%= link_to _("Download a zip file of all correspondence"), download_entire_request_path(:url_title => info_request.url_title) %>
            </li>

            <% if info_request.embargo || can?(:create_embargo, info_request) %>
              <!-- this is a hack, just to prevent everyone from seeing the menu option, only admins should see it now, and maybe the author? -->
              <li>
                <%= link_to _("Download a zip file of all correspondence"), download_entire_request_saisine_path(:url_title => info_request.url_title) %>
              </li>
            <% end %>

            <% if feature_enabled?(:annotations) && info_request.comments_allowed? %>
              <li>
                <%= link_to _('Add an annotation'), new_comment_path(:url_title => info_request.url_title) %>
              </li>
            <% end %>

            <li>
              <a tabindex="0" class="js-collapsable-trigger-all" data-text-expanded="<%= _('Collapse all correspondence') %>" data-text-collapsed="<%= _('Expand all correspondence') %>"><%= _('Collapse all correspondence') %></a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
