<% @title = "Contactez-nous" %>

<%= foi_error_messages_for :contact %>

<h1><%= @title %></h1>

<div id="contact_preamble" class="contact_preamble">

  <% if !flash[:notice] %>
    <h2>Contactez une autorité publique pour obtenir l’accès aux informations</h2>
    <ul>
      <li><a href="<%= new_request_path %>">Rendez-vous ici</a> pour faire une demande, qui sera publique, pour obtenir des informations des autorités.</li>
      <li>
        Vous souhaitez demander des informations personnelles sur vous-même ? Lisez d’abord notre page d'<a href="<%= help_requesting_path(:anchor => 'data_protection') %>">aide à ce sujet</a>.
      </li>
    </ul>

  <% end %>

  <h2>Contactez l'équipe de <%= site_name %></h2>
  <% if !flash[:notice] %>
    <ul>
      <li>
        Merci de d’abord lire les <a href="<%= help_about_path %>">pages d’aide</a> vous y trouverez 
        les réponses aux questions les plus courantes.
      </li>

      <li>
        Nous aimerions savoir comment vous avez trouvé ce site. Pour nous l’indiquer, vous pouvez remplir le formulaire 
        ou envoyer un email à <a href="mailto:<%=@contact_email%>"><%=@contact_email%></a>
      </li>

      <li>
        Nous sommes une association indépendante de toutes autorités publiques.
      </li>
    </ul>
  <% end %>
</div>

<%= form_for :contact do |f| %>

  <% if not @user %>
    <p>
      <label class="form_label" for="contact_name">Votre nom:</label>
      <%= f.text_field :name, :size => 20 %>
      (ou <%= link_to "Se connecter", signin_path(:r => request.fullpath) %>)
    </p>

    <p>
      <label class="form_label" for="contact_email">Votre adresse email:</label>
      <%= f.text_field :email, :size => 20 %>
    </p>
  <% end %>

  <p>
    <label class="form_label" for="contact_subject">Sujet:</label>
    <%= f.text_field :subject, :size => 50 %>
  </p>

  <p>
    <label class="form_label" for="contact_message">Votre message :</label>
    <%= f.text_area :message, :rows => 10, :cols => 60 %>
  </p>

  <p style="display:none;">
    <%= f.label :comment, 'Do not fill in this field' %>
    <%= f.text_field :comment %>
  </p>

  <% if !@last_request.nil? %>
    <p>
      <label class="form_label" for="contact_message">Include link to request:</label>
      <%=request_link(@last_request) %>
      <%= submit_tag "remove", :name => 'remove' %>
    </p>
  <% end %>
  <% if !@last_body.nil? %>
    <p>
      <label class="form_label" for="contact_message">Include link to authority:</label>
      <%=public_body_link(@last_body) %>
      <%= submit_tag "remove", :name => 'remove' %>
    </p>
  <% end %>

  <p class="form_note">
    Nous ne pouvons vous fournir d’aide que sur les problèmes techniques liés à l’utilisation 
    de ce site ou à propos de questions générales sur l’accès aux informations publiques.
  </p>

  <% if @recaptcha_required %>
    <%= recaptcha_tags %><br />
  <% end %>

  <div class="form_button">
    <%= hidden_field_tag(:submitted_contact_form, 1) %>
    <%= submit_tag "Envoyer votre question à MaDada", :data => { :disable_with => "Envoi en cours..." } %>
  </div>

<% end %>
